.About {
    display: flex;
    justify-content: center;

    &-content {
        width: 60vw;
        padding: 2rem;
        font-size: 1.4rem;
        line-height: 1.9rem;

        @media only screen and (max-width: 75em) {
            width: 80vw;
        }

        @media only screen and (max-width: 37.5em) {
            width: 100vw;
        }
    }

    &-section {
        margin-bottom: 3rem;
    }

    &-sectionHeading {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
}
