.CardSymbol {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.15rem;
    position: relative;

    @media only screen and (max-width: 37.5em) {
        width: 1.4rem;
        height: 1.4rem;
    }

    &--100 {
        width: 2.5rem;
    }

    &--1000000 {
        width: 7rem;
    }
}
