.Panel {
    border: 1px solid var(--color-primary-lighter);
    background-color: var(--color-primary-dark);
    padding: 2rem;
    width: 100%;

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-logo {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    &-inputRow {
        font-size: 1.4rem;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        width: 100%;
    }

    &-inputLabel {
        padding-bottom: 0.5rem;
    }

    &-input {
        font-size: 1.6rem;
        padding: 0.75rem;
    }
}
