.DeckPreview {
    width: 100%;
    height: 100%;

    &-cardGrid {
        width: 100%;
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: var(--line);
        }
    }
}
