.CardRulings {
    width: 100%;
    overflow: hidden;

    &-ruling {
        display: flex;
        column-gap: 2rem;
        background-color: var(--color-primary-light);
        width: 100%;
        padding: 1.5rem;

        &:not(:last-child) {
            border-bottom: var(--line);
        }
    }

    &-publishedAt {
        font-size: 1.2rem;

        &--loading {
            width: 10%;
            min-width: 6rem;
            height: 1.5rem;
        }
    }

    &-comment {
        flex: 1;
        font-size: 1.3rem;
        word-break: break-word;

        &--loading {
            width: 100%;
            height: 1.5rem;
        }

        & > .CardSymbol {
            width: 1.4rem;
            height: 1.4rem;
            position: relative;
            top: 0.2rem;
        }
    }
}
