.CardRulings {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    border-top: var(--line-transparent);
    margin-top: 4rem;
    padding-top: 2.5rem;

    @media only screen and (max-width: 37.5em) {
        width: 100%;
        padding: 1.5rem;
        margin-top: 0rem;
        grid-template-columns: repeat(1, 1fr);
    }

    &-ruling {
        display: flex;
        flex-direction: column;
        background-color: var(--color-primary-dark);
    }

    &-comment {
        flex: 1;
        font-size: 1.3rem;
    }

    &-publishedAt {
        font-size: 1.2rem;
    }
}
