.Paginator {
    display: flex;
    justify-content: center;
    width: 100%;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media only screen and (max-width: 75em) {
            flex-wrap: wrap;
        }
    }

    &-buttonGroup {
        display: flex;
        padding: 0.5rem 0.25rem;

        @media only screen and (max-width: 75em) {
            &:nth-of-type(1) {
                order: 2;
            }

            &:nth-last-of-type(1) {
                order: 3;
            }
        }
    }

    &-button {
        @media only screen and (max-width: 37.5em) {
            font-size: 1.35rem;
            padding: 0.5rem;
        }

        &:not(:last-child) {
            margin-right: 3rem;

            @media only screen and (max-width: 75em) {
                margin-right: 2rem;
            }

            @media only screen and (max-width: 37.5em) {
                margin-right: 1rem;
            }
        }

        &--loading {
            width: 8rem;

            @media only screen and (max-width: 37.5em) {
                width: 6rem;
            }

            &:not(:last-child) {
                margin-right: 3rem;

                @media only screen and (max-width: 75em) {
                    margin-right: 2rem;
                }

                @media only screen and (max-width: 37.5em) {
                    margin-right: 1rem;
                }
            }
        }
    }

    &-icon {
        width: 2rem;
        height: 2rem;
        display: inline-block;

        @media only screen and (max-width: 37.5em) {
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    &-firstPageIcon {
        margin-right: 1rem;
    }

    &-previousPageIcon {
        margin-left: -0.5rem;
        margin-top: 0.2rem;
    }

    &-nextPageIcon {
        margin-right: -0.5rem;
        margin-top: 0.2rem;
    }

    &-lastPageIcon {
        margin-left: 1rem;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;

        @media only screen and (max-width: 75em) {
            order: 1;
            width: 100%;
            text-align: center;
            padding: 0.5rem 0.25rem;
            font-size: 1.3rem;
        }
    }

    &-infoBlock {
        &:not(:last-child) {
            margin-right: 4rem;

            @media only screen and (max-width: 37.5em) {
                margin-right: 0;
            }
        }

        &--loading {
            width: 20%;
            height: 2rem;
            min-width: 10rem;
        }
    }
}
