.DeckBuilderSearch {
    padding: 2rem;
    height: 100%;
    overflow-y: auto;

    @media only screen and (max-width: 75em) {
        padding: 1rem;
    }

    @media only screen and (max-width: 37.5em) {
        padding: 0;
    }

    &-searchForm {
        display: flex;
        justify-content: center;
    }

    &-searchBar {
        font-size: 2rem;
        padding: 0.75rem 1.5rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.6rem;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
        }
    }

    &-results {
        & > .PaginatedResults-paginator {
            padding: 1rem 0;
            top: -2rem;

            @media only screen and (max-width: 75em) {
                padding: 0.5rem 0;
                top: -1rem;
            }

            @media only screen and (max-width: 37.5em) {
                padding: 0 0.5rem 0.5rem;
                top: 0;
            }
        }

        & > .CardGrid {
            width: 95%;
            padding: 0;
            grid-template-columns: repeat(4, 1fr);

            @media only screen and (max-width: 75em) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media only screen and (max-width: 37.5em) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
