.ExportDeckDialog {
    &-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 75vw;
        max-width: 45rem;
        height: 60vh;
        padding: 3.75rem 2rem 2rem;
        background-color: var(--color-primary);
        border: var(--line);

        @media only screen and (max-width: 37.5em) {
            padding: 3.75rem 1rem 1rem;
            width: 95vw;
            height: 50vh;
        }
    }

    &-close {
        position: absolute;
        top: 0.65rem;
        right: 0.65rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

    &-deck {
        padding: 0.75rem 1rem;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
    }

    &-message {
        height: 1.4rem;
        font-size: 1.4rem;
        text-align: center;
    }

    &-options {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    &-icon {
        margin-right: 0.75rem;
    }
}
