.Select {
    border: var(--line);
    border-radius: var(--border-radius);
    appearance: none;
    background: url('./arrow.svg') bottom 50% right 1rem / 1.5rem no-repeat var(--color-primary-light);
    padding: 0.9rem 3.5rem 0.9rem 1rem;
    max-width: 100%;
    cursor: pointer;
}
