.Tooltip {
    display: inline-block;
    position: absolute;
    z-index: 1;
    margin-top: 0.2rem;

    &-image {
        width: 23rem; // TODO: Remove
        height: 32rem; // TODO: Remove
        border-radius: 1rem;
    }
}
