.Tooltip {
    position: absolute;
    z-index: 1;
    right: 24rem;
    // top: 16rem;

    // TODO: Rename; this should be the top level
    // &-wrapper {
    //     position: relative;
    // }

    &-image {
        width: 23rem; // TODO: Remove
        height: 32rem; // TODO: Remove
        border-radius: 1rem;
    }
}
