.CardFaceDetails {
    &-description {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &-name {
        padding-bottom: 1rem;
    }

    &-type,
    &-text,
    &-statLine {
        font-size: 1.3rem;
    }

    &-manaCost {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    }

    &-textBlock:not(:last-child) {
        margin-bottom: 1rem;
    }

    &-text {
        & .CardSymbol {
            top: 0.3rem;
        }

        & > *:not(:first-child) {
            margin-top: 2rem;
        }
    }

    &-flavorText {
        font-style: italic;
    }
}
