.BackgroundMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    @media only screen and (max-width: 37.5em) {
        margin-top: 5rem;
    }

    &-content {
        opacity: 0.35;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: 37.5em) {
            margin: 4rem;
        }
    }

    &-icon {
        width: 20rem;
        height: 20rem;
        display: block;

        @media only screen and (max-width: 37.5em) {
            width: 10rem;
            height: 10rem;
        }
    }

    &-primaryText,
    &-secondaryText {
        text-align: center;
    }

    &-primaryText {
        margin-top: 2rem;
        font-size: 2.75rem;
        font-weight: 700;

        @media only screen and (max-width: 37.5em) {
            font-size: 2rem;
        }
    }

    &-secondaryText {
        margin-top: 0.5rem;
        font-size: 1.5rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.2rem;
        }
    }
}
