.DeckTable {
    &-headingRow {
        height: 3rem;
        font-size: 1.4rem;
        border-bottom: var(--line);
        background-color: var(--color-primary-light);

        &--active {
            background-color: var(--color-highlight);
        }
    }

    &-maybeboardHeading {
        cursor: pointer;
    }

    &-cardRow {
        border-bottom: var(--line);
        background-color: var(--color-primary-dark);
    }

    &-deck {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--color-primary);
    }

    &-count {
        padding: 0.25rem;
        width: 4rem;
        min-width: 4rem;
    }

    &-input {
        line-height: 2;
        text-align: center;

        @media only screen and (max-width: 37.5em) {
            line-height: 1.6;
            font-size: 1.6rem;
        }

        &--readonly {
            line-height: 2;
            text-align: center;
            font-size: 1.2rem;
        }
    }

    &-selectArt,
    &-switchSection {
        cursor: pointer;
        width: 4rem;
        min-width: 4rem;

        @media only screen and (max-width: 37.5em) {
            width: 3rem;
            min-width: 3rem;
        }

        &:hover {
            background-color: var(--color-primary-lighter);

            & > .DeckTable-selectArtIcon {
                opacity: 1;
            }
        }
    }

    &-selectArtIcon,
    &-switchSectionIcon {
        display: block;
        width: 2rem;
        height: 2rem;
        position: relative;
        margin: 0 auto;
    }

    &-manaCosts {
        text-align: right;
    }

    &-names {
        width: 100%;
        font-size: 1.3rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.1rem;
        }
    }

    &-subRow {
        display: flex;
        align-items: center;
    }

    &-manaSubRow {
        padding: 0.25rem;
        min-width: 8rem;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media only screen and (max-width: 37.5em) {
            min-width: 6rem;
        }

        & > .CardSymbol {
            width: 1.3em;
            height: 1.3em;

            @media only screen and (max-width: 37.5em) {
                width: 1.1em;
                height: 1.1em;
            }
        }
    }

    &-cardLink {
        cursor: pointer;
    }

    &-manaCosts,
    &-names {
        padding: 0.5rem;

        @media only screen and (max-width: 37.5em) {
            padding: 0.25rem;
        }
    }

    &-remove {
        width: 3rem;
        min-width: 3rem;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s;

        &:hover {
            background-color: var(--color-primary-lighter);
        }
    }
}
