.FormField {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 52.125em) {
        display: block;
    }

    &:not(:last-of-type) {
        margin-bottom: 2rem;

        @media only screen and (max-width: 52.125em) {
            margin-bottom: 2rem;
            border-bottom: none;
        }
    }

    &-verticalWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-horizontalWrapper {
        width: 100%;
        display: flex;
    }

    &-component {
        width: 100%;
        flex: 1;
    }
}
