.Menu {
    width: 100%;

    &-openButton {
        display: none;

        @media only screen and (max-width: 56.25em) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            width: 4rem;
            height: 3rem;
        }

        &:enabled:hover {
            background-color: transparent;
        }
    }

    &-openIcon::before {
        top: -0.8rem;
        left: 0;
    }

    &-openIcon::after {
        top: 0.8rem;
        left: 0;
    }

    &-openIcon,
    &-openIcon::before,
    &-openIcon::after {
        content: '';
        width: 2.5rem;
        background-color: rgba(255, 255, 255, 0.4);
        height: 0.2rem;
        position: absolute;
    }

    &-links {
        margin: 0 2rem 0;
        list-style: none;
        position: relative;
        top: -12vh;
        animation: fadeIn 0.25s ease-out, slideUp 0.25s ease-out;
    }

    &-link {
        text-align: center;
        font-size: 1.9rem;
        padding: 1.5rem;

        a {
            display: block;
        }

        &:not(:last-child) {
            border-bottom: var(--line-transparent);
        }
    }
}
