.Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--color-primary-dark);
    opacity: 0.98;

    &-openButton {
        display: none;

        @media only screen and (max-width: 37.5em) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            width: 4rem;
            height: 3rem;
        }

        &:enabled:hover {
            background-color: transparent;
        }
    }

    &-openIcon::before {
        top: -0.8rem;
        left: 0;
    }

    &-openIcon::after {
        top: 0.8rem;
        left: 0;
    }

    &-openIcon,
    &-openIcon::before,
    &-openIcon::after {
        content: '';
        width: 2.5rem;
        background-color: rgba(255, 255, 255, 0.4);
        height: 0.2rem;
        position: absolute;
    }

    &--closed {
        display: none;
    }

    &-closeButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        background-color: transparent;

        &:enabled:hover {
            background-color: transparent;
        }
    }

    &-closeIcon::before {
        top: 1.3rem;
        right: -0.4rem;
        transform: rotate(45deg);
    }

    &-closeIcon::after {
        top: 1.3rem;
        right: -0.4rem;
        transform: rotate(-45deg);
    }

    &-closeIcon::before,
    &-closeIcon::after {
        content: '';
        width: 3.5rem;
        display: inline-block;
        background-color: rgba(118, 118, 118, 1);
        height: 0.2rem;
        position: absolute;
    }

    &-links {
        list-style: none;
        position: relative;
        top: -12vh;
        animation: fadeIn 0.25s ease-out, slideUp 0.25s ease-out;
    }

    &-link {
        text-align: center;
        font-size: 1.9rem;
        padding: 1.5rem;

        a {
            display: block;
        }

        &:not(:last-child) {
            border-bottom: var(--line-transparent);
        }
    }
}
