.Login {
    display: flex;
    justify-content: center;

    &-content {
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-logo {
        text-align: center;
    }

    &-form {
        border: 1px solid var(--color-primary-lighter);
        background-color: var(--color-primary-dark);
        padding: 2rem;
        margin-top: 0.75rem;
        width: 40rem;

        @media only screen and (max-width: 37.5em) {
            width: 90vw;
            max-width: 40rem;
        }
    }

    &-inputRow {
        font-size: 1.4rem;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        width: 100%;

        &.FormField {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 1.5rem;
        }
    }

    &-inputLabel {
        padding-bottom: 0.5rem;
    }

    &-input {
        padding: 0.75rem;
    }

    &-forgotPasswordContainer {
        font-size: 1.3rem;
        text-align: right;
    }

    &-submit {
        width: 100%;
        justify-content: center;
        padding: 0.75rem;
        margin-top: 3rem;
    }

    &-registerContainer {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 1.3rem;
    }
}
