.PasswordInput {
    &-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &-input {
        &--empty {
            border-bottom: 3px solid var(--color-primary-lighter);
        }

        &--weak {
            border-bottom: 3px solid var(--color-error);
        }

        &--okay {
            border-bottom: 3px solid var(--color-warn);
        }

        &--strong {
            border-bottom: 3px solid var(--color-okay);
        }
    }

    &-description {
        font-size: 1.1rem;

        &--empty {
            height: 1.6rem;
        }

        &--weak {
            color: var(--color-error);
        }

        &--okay {
            color: var(--color-warn);
        }

        &--strong {
            color: var(--color-okay);
        }
    }

    &-reveal {
        margin-left: 1rem;
        cursor: pointer;
    }
}
