.DeckCreation {
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
        width: 30vw;
        height: 20vh;
        padding: 2rem;
        border: var(--line);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: -15vh;
        background-color: var(--color-primary-dark);

        @media only screen and (max-width: 75em) {
            width: 50vw;
            height: 40vh;
        }

        @media only screen and (max-width: 37.5em) {
            width: 90vw;
            height: 30vh;
        }
    }

    &-deckName {
        font-size: 1.4rem;
        padding: 0 0.5rem;
        height: 3rem;
    }

    &-createButton {
        margin-top: 1rem;
    }
}
