.Card {
    &-content {
        display: grid;
        grid-template-columns: auto 25% 20%;
        column-gap: 2rem;
        row-gap: 2rem;
        justify-content: center;
        align-items: start;
        padding: 1.5rem;
        background-color: var(--color-primary);

        @media only screen and (max-width: 75em) {
            grid-template-columns: auto 35% 25%;
        }

        @media only screen and (max-width: 56.25em) {
            height: auto;
            grid-template-columns: none;
            row-gap: 2rem;
        }

        @media only screen and (max-width: 37.5em) {
            justify-content: stretch;
        }
    }

    &-cardImage {
        width: auto;
    }

    &-image {
        height: 45rem;
        width: auto;
    }

    &-externalSites {
        margin-top: 2rem;
    }

    &-externalLink {
        display: block;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &-externalButton {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &-rulings {
        max-width: 75vw;
        grid-column: 1 / 4;

        @media only screen and (max-width: 75em) {
            max-width: 100vw;
        }

        @media only screen and (max-width: 56.25em) {
            grid-column: initial;
            grid-row: initial;
        }
    }
}
