.Card {
    &-mainContent {
        display: grid;
        grid-template-columns: max-content 25% 20%;
        grid-column-gap: 2rem;
        justify-content: center;
        align-items: start;
        padding: 1.5rem;
        background-color: var(--color-primary);

        @media only screen and (max-width: 75em) {
            grid-template-columns: max-content 35% 25%;
        }

        @media only screen and (max-width: 56.25em) {
            height: auto;
            grid-template-columns: none;
            grid-row-gap: 2rem;
        }

        @media only screen and (max-width: 37.5em) {
            justify-content: stretch;
        }
    }

    &-cardImage {
        width: auto;
    }

    &-image {
        height: 45rem;
        width: auto;
    }

    &-externalSites {
        margin-top: 2rem;
    }

    &-externalButton {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    &-secondaryContent {
        display: flex;
        justify-content: center;
    }
}
