:root {
    // --color-primary: #fafafa;
    // --color-primary-text: #111;
    --color-primary: #1b1d1e;
    --color-primary-light: #252829;
    --color-primary-lighter: #43494b;
    --color-primary-text: #e8e6e3;

    --border-radius: 3px;
    --box-shadow: 0 0.1rem 0.3rem rgba(150, 150, 150, 0.2);
    --line: 1px solid #454b4d;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../../fonts/OpenSans-Regular.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: var(--color-primary-text);
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans';
}

body {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
}
