.Home {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--color-primary);

    &-content {
        width: 50%;
        max-width: 60rem;
        min-width: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -9vh;

        @media only screen and (max-width: 56.25em) {
            width: 80%;
            min-width: 0;
            top: 0;
        }
    }

    &-searchForm {
        width: 100%;
    }

    &-searchBox {
        font-size: 2rem;
        line-height: 3rem;
        padding: 0.5rem 1rem;
        margin-top: 0.75rem;
    }

    &-linksContainer {
        margin-top: 5rem;
        display: flex;

        @media only screen and (max-width: 56.25em) {
            flex-direction: column;
            margin-top: 4rem;
            width: 75%;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 1.5rem;
        font-size: 1.3rem;
        padding: 1rem 2rem;
        border: var(--line);
        border-radius: var(--border-radius);
        background-color: var(--color-primary-dark);
        cursor: pointer;
        transition: all 0.2s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: var(--color-primary-lighter);
        }

        @media only screen and (max-width: 56.25em) {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1.25rem 2rem;
            margin-bottom: 1.5rem;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
