.DeckTable {
    &-cardRow {
        border-bottom: var(--line);
        background-color: var(--color-primary-dark);
    }

    &-deck {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--color-primary);
    }

    &-count {
        padding: 0.25rem;
        width: 4rem;
        min-width: 4rem;
    }

    &-input {
        line-height: 2;
        text-align: center;
    }

    &-manaCosts {
        text-align: right;
    }

    &-names {
        font-size: 1.3rem;
        max-width: 30rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.1rem;
        }
    }

    &-subRow {
        height: 2rem;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 37.5em) {
            height: 1.75rem;
        }
    }

    &-manaSubRow {
        justify-content: flex-end;
    }

    &-cardLink {
        cursor: pointer;
    }

    &-manaCosts,
    &-names {
        padding: 0.5rem;

        @media only screen and (max-width: 37.5em) {
            padding: 0 0.25rem;
        }
    }

    &-remove {
        width: 3rem;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: var(--color-primary-lighter);
        }
    }
}
