.DeckTable {
    &-section {
        &--faded {
            opacity: 0.5;
        }
    }

    &-headingRow {
        height: 3rem;
        font-size: 1.4rem;
        border-bottom: var(--line);
        background-color: var(--color-primary-light);

        &--active {
            background-color: var(--color-highlight);
        }
    }

    &-maybeboardHeading {
        cursor: pointer;
    }

    &-cardRow {
        border-bottom: var(--line);
        background-color: var(--color-primary-dark);
    }

    &-deck {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--color-primary);
    }

    &-count {
        padding: 0.25rem;
        width: 4rem;
        min-width: 4rem;
    }

    &-input {
        line-height: 2;
        text-align: center;
    }

    &-selectArt {
        cursor: pointer;
        width: 4rem;

        &:hover {
            background-color: var(--color-primary-lighter);

            & > .DeckTable-selectArtIcon {
                opacity: 1;
            }
        }
    }

    &-selectArtIcon {
        fill: var(--color-primary-text);
        opacity: 0.5;
        display: block;
        width: 2rem;
        height: 2rem;
        position: relative;
        margin: 0 auto;
    }

    &-manaCosts {
        text-align: right;
    }

    &-names {
        font-size: 1.3rem;
        max-width: 30rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.1rem;
        }
    }

    &-subRow {
        height: 2rem;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 37.5em) {
            height: 1.75rem;
        }
    }

    &-manaSubRow {
        justify-content: flex-end;
    }

    &-cardLink {
        cursor: pointer;
    }

    &-manaCosts,
    &-names {
        padding: 0.5rem;

        @media only screen and (max-width: 37.5em) {
            padding: 0 0.25rem;
        }
    }

    &-remove {
        width: 3rem;
        font-size: 1.3rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s;

        &:hover {
            background-color: var(--color-primary-lighter);
        }
    }
}
