.card {
    border-radius: 3px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    border: var(--line);
    background-color: #fff;
}

.card__row-item {
    font-size: 1.7rem;
    padding: 1rem;
}

.card__row-item:not(:last-child) {
    border-bottom: var(--line);
}
