.CardImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-imageFront,
    &-imageBack {
        height: 45rem;
        border-radius: 1.5rem;
        box-shadow: var(--box-shadow);
        backface-visibility: hidden;
    }

    &--canFlip {
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &--canRotate {
        transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }

    &--canTransform {
        transition: all 1.3s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &-imageFront {
        &--flipped {
            transform: rotate(180deg);
            box-shadow: 0 -0.1rem 0.3rem rgba(150, 150, 150, 0.2);
        }

        &--rotatedCW {
            transform: rotate(90deg) scale(0.7) translateX(-30%);
            box-shadow: 0.1rem 0 0.3rem rgba(150, 150, 150, 0.2);

            @media only screen and (max-width: 37.5em) {
                transform: rotate(90deg) scale(0.7);
            }

            &:hover {
                transform: rotate(90deg) scale(1);
            }
        }

        &--rotatedCCW {
            transform: rotate(-90deg) scale(0.7) translateX(30%);
            box-shadow: -0.1rem 0 0.3rem rgba(150, 150, 150, 0.2);

            @media only screen and (max-width: 37.5em) {
                transform: rotate(-90deg) scale(0.7);
            }

            &:hover {
                transform: rotate(-90deg) scale(1);
            }
        }

        &--transformed {
            transform: rotateY(-180deg);
        }
    }

    &-imageBack {
        position: absolute;
        top: 0;
        transform: rotateY(180deg);

        &--transformed {
            transform: rotateY(0deg);
        }
    }

    &-button {
        margin-top: 2rem;
    }

    &-buttonIcon {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.5rem;
    }
}
