.SymbolKey {
    &-content {
        width: 40rem;
    }

    &-close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

    &-description {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    &-symbolListContainer {
        max-height: 25rem;
        overflow-y: scroll;
        margin-bottom: 1.5rem;
        border: var(--line);
        border-radius: var(--border-radius);
        background-color: var(--color-primary-light);
    }

    &-symbolList {
        width: 100%;
        border-collapse: collapse;
    }

    &-symbolRow {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        border-bottom: var(--line);
        cursor: pointer;
    }

    &-symbolImage {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        text-align: right;
        margin-right: 0.25rem;
    }

    &-symbolText {
        flex: 1;
        font-size: 1.5rem;
        line-height: normal;
        margin-left: 0.25rem;
    }

    &-symbolInputRow.FormField {
        margin-bottom: 0;
    }

    &-symbolInput {
        font-size: 1.6rem;
        padding: 0.75rem;
    }

    &-symbolPreview {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.75rem;
    }

    &-confirmButton {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}
