.SymbolKey {
    &-content {
        width: 90vw;
        max-width: 37.5rem;
        background-color: var(--color-primary);
    }

    &-close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

    &-description {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    &-symbolGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-height: 25rem;
        overflow-y: scroll;
        margin-bottom: 1.5rem;
        border: var(--line);
        border-radius: var(--border-radius);
        background-color: var(--color-primary-light);
    }

    &-symbolGridItem {
        padding: 1rem;
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary-lighter);
        }

        &:not(:nth-child(5n)) {
            border-right: var(--line);
        }

        &:not(:nth-last-child(-n + 3)) {
            border-bottom: var(--line);
        }
    }

    &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: right;

        & > .CardSymbol {
            @media only screen and (max-width: 37.5em) {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }

    &-symbolInputRow.FormField {
        margin-bottom: 0;
    }

    &-symbolInput {
        font-size: 1.6rem;
        padding: 0.75rem;
    }

    &-symbolPreview {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.75rem;
        min-height: 3rem;
    }

    &-confirmButton {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}
