.CardSection {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: var(--line);
    background-color: var(--color-primary-light);
    max-width: 50rem;

    &-rowItem {
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: var(--line);
        }
    }

    &-name {
        display: flex;
        align-items: center;
    }
}
