.SearchResults {
    padding: 1rem 0;

    @media only screen and (max-width: 75em) {
        padding: 0;
    }

    &-grid {
        width: 80%;
        padding-top: 1rem;

        @media only screen and (max-width: 56.25em) {
            width: 100%;
        }

        @media only screen and (max-width: 37.5em) {
            padding: 1rem;
        }
    }
}
