.card-info__description {
  display: flex;
  flex-direction: column;
}

.card-info__title {
  padding-bottom: 1rem;
}

.card-info__type,
.card-info__text,
.card-info__stats {
  font-size: 1.3rem;
}

.card-info__mana-cost {
  margin-left: 0.5rem;
}

.card-info__text-block:not(:last-child) {
  margin-bottom: 1rem;
}
