.CardInfo {
    &-description {
        display: flex;
        flex-direction: column;
    }

    &-name {
        padding-bottom: 1rem;
    }

    &-type,
    &-text,
    &-statLine {
        font-size: 1.3rem;
    }

    &-manaCost {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    }

    &-textBlock:not(:last-child) {
        margin-bottom: 1rem;
    }

    &-secondFace {
        margin-top: 2rem;
    }
}
