.Header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--line);
    background-color: var(--color-primary);

    &-content {
        width: 70%;
    }

    &-searchForm {
        display: inline-block;
        width: 40%;
    }

    &-searchBox {
        height: 3rem;
        border-radius: var(--border-radius);
        border: var(--line);
        font-size: 1.4rem;
        padding: 0 0.5rem;
        margin-left: 2rem;
    }
}
