.Header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-bottom: var(--line);
    background-color: var(--color-primary-dark);

    @media only screen and (max-width: 37.5em) {
        padding: 0;
    }

    &-content {
        flex: 1;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 37.5em) {
            width: 100%;
            height: 100%;
            margin-right: 0.5rem;
        }
    }

    &-logo {
        @media only screen and (max-width: 37.5em) {
            display: none;
        }
    }

    &-searchForm {
        flex: 1;
        padding: 0 1.5rem;
        max-width: 50rem;

        @media only screen and (max-width: 37.5em) {
            padding: 0;
            max-width: none;
            width: 100%;
            height: 100%;
        }
    }

    &-searchBox {
        height: 3rem;
        font-size: 1.6rem;
        padding: 0 0.5rem;

        @media only screen and (max-width: 37.5em) {
            height: 100%;
            border: none;
            border-right: var(--line);
            border-radius: 0;
            padding: 0 1rem;
            transition: background-color 0.2s;

            &:focus {
                outline: none;
                background-color: var(--color-primary-lighter);
            }
        }
    }

    &-linksContainer {
        @media only screen and (max-width: 56.25em) {
            display: none;
        }

        & > a:not(:last-child),
        & > button:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &-link {
        display: inline-block;
        border: none;
        font-size: 1.3rem;
        border-radius: var(--border-radius);
        padding: 0.75rem;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: var(--color-primary-lighter);
        }
    }

    &-randomCard {
        width: 4rem;
        height: 3rem;
        padding: 0.25rem;
        margin: 0 0.5rem;
        cursor: pointer;
        display: none;

        @media only screen and (max-width: 56.25em) {
            display: block;
        }
    }

    &-randomIcon {
        fill: rgba(255, 255, 255, 0.4);
    }
}
