.PasswordField {
    &-container {
        display: flex;
        align-items: center;
    }

    &-input {
        &--weak {
            border-bottom: 3px solid crimson;
        }

        &--okay {
            border-bottom: 3px solid goldenrod;
        }

        &--strong {
            border-bottom: 3px solid limegreen;
        }
    }

    &-description {
        font-size: 1.1rem;

        &--weak {
            color: crimson;
        }

        &--okay {
            color: goldenrod;
        }

        &--strong {
            color: limegreen;
        }
    }

    &-reveal {
        fill: var(--color-primary-text);
        margin-left: 1rem;
        position: relative;
        top: -0.2rem;
        cursor: pointer;
    }
}
