.CardImagePreview {
    position: absolute;
    z-index: 1;

    &-image {
        width: var(--card-image-preview-image-width);
        height: var(--card-image-preview-image-height);
        border-radius: 1rem;
    }
}
