.CardImagePreview {
    position: absolute;
    z-index: 3;
    pointer-events: none;

    &-image {
        display: inline-block;
        width: var(--card-image-preview-image-width);
        height: var(--card-image-preview-image-height);
        border-radius: 1rem;
        vertical-align: middle;
    }
}
