.Overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--color-primary-dark);
    opacity: 0.98;

    &--closed {
        display: none;
    }

    &-closeButton {
        position: absolute;
        padding: 0;
        top: 0.5rem;
        right: 0.5rem;
        width: 5rem;
        height: 5rem;
        border: none;
        background-color: transparent;
        border-radius: 50%;
    }

    &-closeIcon::before {
        top: 0.5rem;
        transform: rotate(45deg);
    }

    &-closeIcon::after {
        top: -1.3rem;
        transform: rotate(-45deg);
    }

    &-closeIcon::before,
    &-closeIcon::after {
        content: '';
        width: 3.5rem;
        display: inline-block;
        background-color: rgba(118, 118, 118, 1);
        height: 0.2rem;
        position: relative;
    }
}
