.Account {
    padding: 2rem 3rem;

    @media only screen and (max-width: 52.125em) {
        padding: 1.5rem;
    }

    &-section {
        margin-bottom: 5rem;
    }

    &-sectionHeading {
        font-size: 1.9rem;
        padding: 0.75rem 0;
        border-bottom: var(--line);
        margin-bottom: 3rem;

        @media only screen and (max-width: 52.125em) {
            padding: 0 0 0.75rem;
            margin-bottom: 2.3rem;
        }
    }

    &-inputRow {
        flex-direction: column;
        align-items: flex-start;
    }

    &-inputLabel {
        display: block;
        padding-bottom: 0.5rem;
        width: 100%;
        font-size: 1.3rem;
    }

    &-input {
        font-size: 1.6rem;
        padding: 0.75rem;
        max-width: 50rem;
    }

    &-changePasswordButton {
        margin-top: 2rem;
    }

    &-deleteAccountDescription {
        max-width: 60rem;
        font-size: 1.4rem;
    }

    &-deleteAccountButton {
        border-color: var(--color-error-light);
        background-color: var(--color-error);
        margin-top: 2rem;

        &:hover.Button {
            background-color: var(--color-error-light);
        }
    }
}
