.Account {
    padding: 2rem 3rem;

    &-section {
        display: flex;
        align-items: center;
    }

    &-sectionLabel {
        width: 10%;
        font-size: 1.6rem;
        margin-right: 2rem;
        text-align: center;
    }

    &-changePasswordForm {
        width: 100%;
    }

    &-inputRow {
        flex-direction: column;
        align-items: flex-start;
    }

    &-inputLabel {
        display: block;
        padding-bottom: 0.5rem;
        width: 100%;
        font-size: 1.3rem;
    }

    &-input {
        font-size: 1.6rem;
        padding: 0.75rem;
        max-width: 50rem;
    }

    &-changePasswordButton {
        margin-top: 1rem;
    }
}
