.CardSets {
    font-size: 1.2rem;
    max-height: 40vh;
    overflow-y: auto;

    &-list {
        list-style: none;
    }

    &-listItem {
        display: flex;
        justify-content: space-between;
        transition: all 0.2s;

        &:hover {
            background-color: #2f3334;
            cursor: pointer;
        }
    }

    &-rowContent {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-selectedSet {
        background-color: #393e3f;
    }
}
