.CardSets {
    font-size: 1.2rem;
    max-height: 40vh;
    overflow-y: scroll;

    &-list {
        list-style: none;
    }

    &-listItem {
        transition: all 0.2s;

        &:hover {
            background-color: #2f3334;
            cursor: pointer;
        }
    }

    &-selectedSet {
        background-color: #393e3f;
    }
}
