.CardArtSelector {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6rem;

    @media only screen and (max-width: 56.25em) {
        padding: 0;
        align-self: flex-start;
    }

    &-content {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary-dark);
        padding: 2rem 5rem;
        overflow-y: scroll;

        @media only screen and (max-width: 56.25em) {
            padding: 5rem 1rem;
        }

        & > .CardGrid {
            height: 100%;

            @media only screen and (max-width: 56.25em) {
                padding: 0;
                grid-row-gap: 0.25rem;
                grid-column-gap: 0.25rem;
            }
        }
    }

    &-cardGrid {
        width: 100%;

        & .CardGrid-image {
            box-shadow: none;
            border-radius: 1.6rem;
            border: 5px solid transparent;

            &:hover {
                border: 5px solid var(--color-highlight);
            }
        }
    }
}
