.CardArtSelector {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    overflow-y: scroll;

    @media only screen and (max-width: 75em) {
        padding: 2rem;
    }

    @media only screen and (max-width: 37.5em) {
        padding: 0.5rem;
    }

    & > .CardGrid {
        padding: 0;
        height: 100%;

        @media only screen and (max-width: 56.25em) {
            grid-row-gap: 0.25rem;
            grid-column-gap: 0.25rem;
        }
    }

    &-closeButton {
        opacity: 0.9;
    }

    &-cardGrid {
        width: 100%;

        & .CardGrid-image {
            box-shadow: none;
            border-radius: 1.6rem;
            border: 5px solid transparent;

            &:hover {
                border: 5px solid var(--color-primary-lighter);
            }
        }

        & .CardGrid-selected {
            border: 5px solid var(--color-highlight);
        }
    }
}
