.AdvancedSearch {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;

    @media only screen and (max-width: 52.125em) {
        padding: 1.5rem;
    }

    &-content {
        width: 80%;

        @media only screen and (max-width: 52.125em) {
            width: 100%;
        }
    }

    &-form {
        margin-bottom: 3rem;

        @media only screen and (max-width: 52.125em) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-formRow {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 52.125em) {
            display: block;
        }

        &:not(:last-of-type) {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: var(--line-transparent);

            @media only screen and (max-width: 52.125em) {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }

    &-rowLabel {
        width: 10%;
        font-size: 1.6rem;
        margin-right: 2rem;

        @media only screen and (max-width: 52.125em) {
            display: block;
            font-size: 1.4rem;
        }
    }

    &-input {
        max-width: 50rem;
        font-size: 1.6rem;
        padding: 1rem 0.75rem;

        @media only screen and (max-width: 52.125em) {
            margin-top: 0.5rem;
            font-size: 1.4rem;
            padding: 0.75rem;
            max-width: none;
        }
    }

    &-colorOptions {
        width: 100%;
        max-width: 75rem;
    }

    &-colorBoxes {
        line-height: 2.5rem;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 52.125em) {
            flex-direction: column;
            margin-top: 0.5rem;
            align-items: flex-start;
        }
    }

    &-colorCheckbox {
        width: auto;
        margin-right: 0.75rem;

        @media only screen and (max-width: 52.125em) {
            margin-top: 0.5rem;
        }
    }

    &-colorMatchType {
        margin-top: 2.5rem;
        font-size: 1.6rem;
    }

    &-colorMatchDescription {
        font-size: 1.2rem;
        margin-top: 0.75rem;
    }

    &-manaSymbol {
        position: relative;
        top: 0.3rem;
        margin-right: 0.5rem;

        @media only screen and (max-width: 52.125em) {
            margin-right: 0.75rem;

            & > .CardSymbol {
                width: 1.65rem;
                height: 1.65rem;
            }
        }
    }

    &-searchButton {
        margin-top: 5rem;

        @media only screen and (max-width: 52.125em) {
            display: flex;
            justify-content: center;
        }
    }
}
